<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  
  <style>
    header {
      background-color: #343a40; 
      padding: 10px 0; 
    }
    nav ul {
      list-style-type: none; 
      margin: 0;
      padding: 0;
      text-align: center; 
    }
    nav ul li {
      display: inline-block; 
      margin: 0 10px; 
      background-color:blue !important
    }
    nav ul li a {
      color: black !important; 
      text-decoration: none; 
      font-size: 18px; 
      font-weight: bold; 
    }
    nav ul li a:hover {
      color: #ffc107; 
    }
  </style>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/guardas-seguridad">Guardas de Seguridad</a></li>
      <li><a href="/servicios">Servicios</a></li>
    </ul>
  </nav>
</header>
